.nav-img{
    width: 40px;
}
.col-md-4 img{
    width:100px
}
body{
    background-color: whitesmoke;
}
.main-div{
    background-color: white;
    margin-top: 50px;
   padding-bottom: 20px;
    border-radius: 10px;
}
.col-md-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.t-color{
    color: blue;

}
.top-played{
    background-color: #FFFFFF;
    border-radius:10px ;
    margin-top: 36px;
}
.player{
    padding: 10px;
}
.top-blog{
    padding: 15px;
}
.bolg-img{
    width: 200px;
}
.col-md-6{
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}
.col-md-6 p{
    font-size: 20px;
    font-weight: 20px;
}
.blog-div{
    margin-bottom: 10px;
    margin-top: 10px;
}
.last-div{
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}
.cardDesign{
    display: flex;
    justify-content: space-between;
}
.course{
    padding: 10px;
}
.course img{
    width: 300px;
}
.desc{
    margin-top: 10px;
}

.desc h6{
    color: brown;
}
.course {
    display: block;
}
